<span *ngIf="!hideTitle">{{title}}</span>
<form [formGroup]="form" fxLayout="row" fxLayoutAlign="end" full-width>  
  <mat-icon class="search-bar-icon" (click)="searchButtonClick($event)">search</mat-icon>
  <input #searchInput class="search-bar-input" (focus)="hideTitle=true" (blur)="hideTitle=false" [placeholder]="placeholder" formControlName="query" [matAutocomplete]="auto" type="text">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayNameFn" (optionSelected)="optionSelected($event)">
    <mat-option *ngFor="let result of results$ | async" [value]="result">
      <span class="bold accent">{{result.collection | collectionName}} |</span> {{result.data.name}}
    </mat-option>
  </mat-autocomplete>    
</form>