.search-bar-input {
    width: 20px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    background-color: transparent;
    padding: 0px 35px 0px 60px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.search-bar-input:focus {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
}   

.search-bar-icon {
    margin-right: -40px;
    align-self: center;
}